// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html body nav {
    background-color: #c2bcbc;
}
html body nav.navbar {
    box-shadow: 1px 1px 10px 1px #888888;
}
html body nav a img {
    padding-left: 2rem;
    width: 180px;
}
.header {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.container {
    margin-bottom: 16vh;
}
html body div.container.alert {
    margin-top: 2rem;
}
html body div.container div.row div h1 small a:hover {
    color: #D99923;
}
html body div header h1 {
    margin-top: 2rem;
    color: #D99923;
}
html body div header img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
html body div.container h2 {
    margin-top: 1rem;
}
html body div.container div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
html body div.container button.btn.btn-outline-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: grey;
    border: 1px solid #f2f2f2;
}
html body div.container button.btn.btn-outline-light:hover {
    color: #262625;
    background-color: #D99923;
    border: none;
}
html body div button a img {
    margin-right: 0.5rem;
    width: 1.2rem;
}
.nova-receita a {
    float: right;
    font-size: 1.2rem;
    color: #262625;
    text-decoration: none;
}
div.container .recipe-card .recipe-content a {
    color: #D99923;
    text-decoration: none;
}
footer {
    background-color: #262625;
    text-align: center;
    height: 10vh;
    padding-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer div p {
    margin-top: 1rem;
    color: white;
    font-size: 1.4rem;
}
div.form-new-recipe {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
div.form-new-recipe div.card div.card-header {
    background-color: #262625;
    color: white;
}
input.btn.btn-primary {
    background-color: #8C6A2B;
    border: none;
}
input.btn.btn-primary:hover {
    background-color: #D99923;
}
// bloco de comentários na view comments
div.jumbotron div.comments-container {
    background-color: #f2f2f2;
    border-radius: 6px;
    border: 1px #99999997 solid;
    box-shadow: #888888 2px 2px 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
div.jumbotron div.comments-container ul {
    list-style: none;
}
div.jumbotron div.comments-container p.lead {
    font-size: 1rem;
    font-weight: 400;
}
div.jumbotron div.comments-container p.lead small.small_font_rating {
    color: #8C6A2B;
    font-weight: 400;
}
div.jumbotron div.comments-container p.lead small.small_font {
    font-style: italic;
    color: #262625;
    font-weight: lighter;
}
div.jumbotron div.comments-container p.display-4 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
div.jumbotron.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.jumbotron.container button.btn.btn-outline-light {
    align-self: center;
}
// botões de avaliações na view show
div.container div.avaliar {
    margin-bottom: 2rem;
}
div.container div.avaliar a {
    text-decoration: none;
    color: #8C6A2B;
    font-size: 1.2rem;
}
div.container div.avaliar a.btn.btn-primary {
    margin-top: 1rem;
    color: #262625;
    background-color: #8C6A2B;
    border: none;
}
div.container div.avaliar a.btn.btn-primary:hover {
    color: #f2f2f2;
    background-color: #D99923;
}
// card de novo comentário
div.container div.novo-comentario.card {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 8px;
}
div.container div.novo-comentario.card label {
    margin-bottom: 1rem;
}
div.container div.novo-comentario.card select#comment_rating {
    padding: 0.6rem;
    color: grey;
}